.drop-down-chooser {
    -base-color: transparent;
    -hover-color: #0093ff ;

    -fx-background-color: #EBF5F1;
    -fx-pref-width: 150;
}

.year-btns {
    -fx-pref-height: 70px;
    -fx-pref-width: 70px;
    -fx-background-color: -base-color;
    -fx-text-fill: #999999;

}

.year-btns:hover {
    -fx-background-color: -hover-color
}

.year-btns:focused {
    -fx-border-color: #39A67F;
}

.selected-year {
    -fx-font-family: 'Helvetica';
    -fx-font-weight: bolder;
    -fx-text-fill: #999999;

}

.control-btn {
    -fx-background-color: -base-color;
    -fx-border-color: -base-color;
    -fx-text-fill: #999999;

}

.control-btn:hover {
    -fx-background-color: -hover-color;
}