.business-control {
    -base-color: #999999;
    -invalid-base-color: red;
    -mandatory-base-color: red;
    -convertible-base-color: green;
}

.business-control .chooser-button {
    -fx-font-family: 'FontAwesome';
    -fx-text-fill: #999999;
}
