.hydro-control {
    -fx-padding: 5;
    -fx-background-color: #39A67F;
}



.hydro-control .display {
    -fx-font-family: 'Lato Light';
    -fx-font-size: 24;
    -fx-fill: derive(-base-color, 90%);
}
